.m-btn{
    width: auto;
    height: 40px;
    display:flex;
    padding: 0 20px;
    align-items:center;
    background-color: #019160;
    color:#ffffff;
    border: none;
    border-radius: 4px;
    outline:none;
    cursor: pointer;
}
.m-btn:hover{
    background-color:#2FBE8E;
}

.btn-icon {
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-position: center;
    cursor: pointer;
}
    .btn-icon:hover {
        background-color:#bbbbbb;
    }

    .btn-pageNum {
        width: 30px;
        height: 30px;
        background-color: #bbbbbb;
        border-radius: 50%;
        border: 1px solid #808080;
        align-items: center;
        margin: 0px 10px;
        outline: 0px;
        cursor: pointer;
    }
.btn-pageNum:hover {
    background-color:#808080;
    border:none;
}
        .active {
            background-color:#019160;
            border:none;
            color:#ffffff;
        }